.book-list-container-parent {
  position: absolute;
  top: 115px;
  left: 190px;
  width: calc(100% - 190px);
  height: calc(100% - 125px);
  overflow: visible;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  user-select: text;
  /* background-color: antiquewhite; */
  justify-content: start;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: scroll;
}
.book-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  user-select: text;
  /* background-color: antiquewhite; */
  justify-content: start;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  margin-bottom: 30px;
}
.counter {
  display: flex;
}

.counterHeader {
  text-align: center;
  white-space: pre-wrap;
  font-size: 20px;
}

.button {
  width: 50px;
  height: 50px;
  background: rgba(75, 75, 75, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-size: 30px;
  transition: transform 0.3s;
}

.count {
  width: 100px;
  display: FLEX;
  justify-content: center;
  align-items: center;
}

.betButton {
  width: 100px;
  height: 40px;
  background: rgba(75, 75, 75, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: transform 0.1s;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.warn {
  font-size: 10px;
  color: red;
}

.aboutText {
  font-size: 20px;
  margin-bottom: 52px;
  line-height: 1.3;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
}
